<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1 style="text-align: center;">Order Received</h1>
        <h4>Your order has been received. We will review the order and send another email stating the date of expected delivery.</h4>
        <hr />
        <table>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
            </tr>
            <% @order_info[:items].as_json.each do |item| %>
                <% 
                    item_total_price = item["itemInfo"]["price"].to_f * item["quantity"].to_f
                %>
                <tr>
                    <td><%= item["itemInfo"]["description"] %></td>
                    <td><%= item["quantity"] %></td>
                    <td>$<%= item["itemInfo"]["price"].to_f.round(2) %></td>
                    <td>$<%= item_total_price.round(2) %></td>
                </tr>
            <% end %>
            <tr>
                <td colspan="3"><strong>Total Price</strong></td>
                <td>$<%= @order_info[:totalPrice] %></td>
            </tr>
        </table>
        <h4>Order Date: <%= @order_info[:orderDate] %></h4>
        <h2>Address:</h2>
        <p><%= @configured_address %></p>
        <p>We will send an email stating when you are to expect the deliver of your ordered items.</p>
    </body>
</html>